name: 'Benchmark'

on: [push]

jobs:
  benchmark:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '16'
          distribution: 'adopt'

      - name: Build with Maven
        run: mvn package --quiet

      - name: Run benchmarks
        run:  java -jar target/benchmarks.jar -f 1 -rff result-${GITHUB_SHA}.json